form#edit-page method="post" action=page_path(@page)
  / == slim :_edit_attachments
  input name="name" value=@page.name placeholder='the_filename' type='text'
  textarea.body#textarea name="body" = @page.raw_body
  label for="message" Message:
  textarea.message name="message" rows="4"
  p.right: input.submit type="submit" value="Save"

- content_for :head
    script src="/js/require.js"
    link rel="stylesheet" href="/codemirror/codemirror.css" type="text/css" media="screen"
    link rel="stylesheet" href="/codemirror/theme/neo.css" type="text/css" media="screen"

javascript:
  require.config({
    packages: [{
      name: "codemirror",
      location: "/codemirror/",
      main: "lib/codemirror.js"
    }]
  });

  require([
    "codemirror",
    "codemirror/keymap/sublime",
    "codemirror/mode/gfm/gfm",
    "codemirror/mode/crystal/crystal",
    "codemirror/mode/nginx/nginx",
    "codemirror/mode/ruby/ruby",
    "codemirror/mode/shell/shell",
    "codemirror/mode/xml/xml"
  ], function(CodeMirror) {
    CodeMirror.fromTextArea(document.getElementById("textarea"), {
      lineNumbers: true,
      mode: "gfm",
      cursorBlinkRate: 0,
      lineWrapping: true,
      theme: 'neo',
      keyMap: "sublime"
    });
  });
