// html5 goodness
header, nav, article, section, footer, figure, aside
  display: block

html,
body
  color: #404038
  // background-color: #fbf9f7

// a responsive design trick:
img
  max-width: 100%

body
  margin: 0
  font-family: -apple-system, "Cantarell", "Droid Sans", Arial, "Deja Vu Sans", "Bitstream Vera Sans", sans-serif /* the default fonts on OS X, Gnome, Android, and then the rest */
  font-size: 15px
  line-height: 25px
  padding-top: 56px

main
  a
    color: #1a82bf
    text-decoration: none
    &:visited
      color: #0e4061
    &:hover
      text-decoration: underline

  code, pre
    font-family: "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Inconsolata", "Consolas", monospace

  h1
    color: #333
    font-weight: normal
    font-size: 2em
    line-height: 2em
    margin: 1em 0

  input[type=text]
    border: 1px solid #ccc
    font-size: 0.875em

  label
    font-size: .9em

  textarea
    border: 1px solid #ccc
    font-family: "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Inconsolata", "Consolas", monospace
    font-size: .9em
    padding: 5px

  .edit textarea
    display: block
    margin-bottom: 5px
    max-height: 300px
    min-width: 100%

  mark
    background: #ffff99

  table
    font-size: 0.9em

ul,
ol
  padding: 0 0 1em 1.4em

li ul,
li ol
  padding: 0 0 0 1.4em /* no vertical padding for nested lists */

.cancel
  font-weight: normal
  text-decoration: none
  font-size: 14px
  &:before
    content: "("
  &:after
    content: ")"

article > h1
  font-size: 160%
  margin: 1.5em 0 1em
article > h2
  font-size: 110%
  color: #333
  margin: 1.5em 0 1em

// style external links
article a[href^="http://"]:before,
article a[href^="https://"]:before
  width: 12px
  height: 12px
  display: inline-block
  content: '⦿'
  margin-right: 3px
  color: green

.delta
  font-size: 1.1em
  padding: 0

body > header nav
  margin: 0 auto

header nav
  a
    display: inline
    padding: 1px 6px
    border-radius: 2px
    color: white
    text-decoration: none
    font-weight: bold
    &:visited
      color: white
    &:hover
      background-color: #696969
      color: #feb800
      text-decoration: none

  ul, li
    display: inline-block
    margin: 0
    padding: 0

  ul li
    position: relative

  ul li ul
    position: absolute
    background: #696969
    border-radius: 3px
    text-align: center
    display: none // submenus are hidden

  ul li:hover ul
    display: block // display submenu on hover
    li
      display: block
      min-width: 5em

// .niceform label, .niceform input[type=text] {
//   display: block;
//   width: 200px;
//   float: left;
//   margin-bottom: 10px;
// }

// .niceform label {
//   text-align: right;
//   width: 150px;
//   padding-right: 20px;
// }

// .niceform br {
//   clear: left;
// }

.right
  text-align: right

.search_result
  margin-bottom: 15px

  .match
    line-height: 1em
    margin-bottom: 15px

.search_term
  color: #999

.submit
  font-size: 1.2em
  font-weight: bold

article aside
  float: right
  padding: 0.5em
  margin: 0 0 0.5em 0.5em
  background: #f0f0f0
  border-radius: 3px
  text-shadow: rgba(255,255,255,0.9) 1px 1px 0px

  .details
  color: #888
  font-size: .85em
  margin-left: 0.3em

span.detail
  color: #888
  font-size: .85em

div.attach-options
  margin-left: 30px
  margin-bottom: 10px
  font-size: .85em
  color: #888

textarea
  width: 100%
textarea.body
  height: 35em
  margin-top: 1.5em
textarea.message
  height: 4em

body > header
  position: fixed
  top: 0
  left: 0
  right: 0
  background: #464141
  color: white
  box-shadow: 0 2px 5px rgba(0,0,0,0.26)
  padding: 0 16px 0 72px
  height: 56px
  h1
    color: white
    font-size: 24px
    font-weight: normal
    line-height: normal

  nav
    float: right

main
  max-width: 600px
  margin: 0em auto
  padding: 2em

footer
  clear: both
  border-top: 2px solid #464141
  color: #464141
  text-align: right
  padding: 4px
  margin-top: 4em

#search_field
  border: 1px solid #ccc
  color: #999
  max-width: 100%

